

{% extends "quiz/base.html" %} {% block content %}


        <!--********************************************  Quizzer ************************************************-->
        <!---------------------------------------------------------------------------------------------------------->

        <div class="container flex justify-center">
                <div style="padding: 50px;">
                        <h1 class="mb-5" style="font-size: 50px;font-weight: bold;">Quizzer</h1>
                        <h3 class="instructor_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
                                sapiente delectus praesentium facere
                                cumque nesciunt mollitia odit, deleniti neque debitis soluta
                                illum architecto dolores optio dicta
                                molestias consectetur aspernatur ad!</h3>

                </div>
        </div>
        <!--********************************************  Quizzer ************************************************-->
        <!---------------------------------------------------------------------------------------------------------->


        <!--********************************************  About Team *********************************************-->
        <!---------------------------------------------------------------------------------------------------------->
        <div class="container">
                <div  style="padding-top: 100px;">
                        <div class="instructor">
                                <p style="font-size: 50px;text-align: center;">Instructor</p>
                                <div class="section row">

                                        <div class="instructor_card col-lg-6">
                                                <div class="card" style="width: 18rem;">
                                                        <img class="card-img-top"
                                                                src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                                alt="Card image cap">
                                                        <div class="card-body">
                                                                <h5 class="card-title">Dr. Essam Elfakharany</h5>
                                                                <a href="#" class="btn btn-primary">personal profile</a>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="instructor_text col-lg-6">
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
                                                        sapiente delectus praesentium facere
                                                        cumque nesciunt mollitia odit, deleniti neque debitis soluta
                                                        illum architecto dolores optio dicta
                                                        molestias consectetur aspernatur ad!</p>
                                        </div>

                                </div>

                        </div>

                        <div style="padding: 100px;margin-top: 100px;">
                                <p style="font-size: 50px; text-align: center;font-family: 'Poppins', sans-serif;">Team
                                        members</p>
                                <div class="team row ">
                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top"
                                                        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                        alt="Card image cap">
                                                <div class="card-body">
                                                        <h5 class="card-title">Ahmed Saber</h5>
                                                        <p style="color: #5a5a5a;">Team Leader</p>
                                                        <a href="#"
                                                                class="btn btn-primary">LinkedIn profile</a>
                                                </div>
                                        </div>

                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top"
                                                        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                        alt="Card image cap">
                                                <div class="card-body">
                                                        <h5 class="card-title" style="margin-bottom: 23px;">Hamza Hassan</h5>
                                                        <a href="#" class="btn btn-primary">LinkedIn profile</a>
                                                </div>
                                        </div>

                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top"
                                                        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                        alt="Card image cap">
                                                <div class="card-body">
                                                        <h5 class="card-title">Merna Tharwat</h5>
                                                        </br>
                                                        </br>
                                                        <a href="#"
                                                                class="btn btn-primary">linkedIn profile</a>
                                                </div>
                                        </div>

                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top"
                                                        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                        alt="Card image cap">
                                                <div class="card-body">
                                                        <h5 class="card-title">Mohammed Abd-Elrahman</h5>
                                                        </br>
                                                        </br>
                                                        <a href="#"
                                                                class="btn btn-primary">LinkedIn profile</a>
                                                </div>
                                        </div>

                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top"
                                                        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                        alt="Card image cap">
                                                <div class="card-body">
                                                        <h5 class="card-title">Youssef Tharwat</h5>
                                                        </br>
                                                        </br>
                                                        <a href="https://www.linkedin.com/in/moharidy98"
                                                                class="btn btn-primary">LinkedIn profile</a>
                                                </div>
                                        </div>

                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top"
                                                        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                                                        alt="Card image cap">
                                                <div class="card-body">
                                                        <h5 class="card-title">Ali Elnoby</h5>
                                                        </br>
                                                        </br>
                                                        <a href="https://www.linkedin.com/in/moharidy98"
                                                                class="btn btn-primary">LinkedIn profile</a>
                                                </div>
                                        </div>

                                </div>
                        </div>

                </div>

        </div>

        <!--********************************************  About Team *********************************************-->
        <!---------------------------------------------------------------------------------------------------------->





        <footer class="mt-5">
                <p style="font-size: 10mm;font-weight: bold;">Copyrights @ 2021 AAST graduation team</p>

        </footer>







        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>


                {% endblock content %}