{% extends "quiz/base.html" %} {% block bd %} onload="fetch_data(){% endblock bd%} {% block content %}

<!--********************************************  profile ************************************************-->
<!---------------------------------------------------------------------------------------------------------->
<div class="container">
  <div class="flex justify-center row my-32">
    <img class="avatar2 col-4" src="media/avatar2.jpg" />
  </div>

  <div class="flex justify-center">
    <div class="flex flex-col info" style="text-align: center">
      <h3 class="account_type">Instructor</h3>
      <h3>Ahmed Saber</h3>
      <h3>ahmedsaber@gmail.com</h3>
    </div>
  </div>
</div>
<!--********************************************  profile ************************************************-->
<!---------------------------------------------------------------------------------------------------------->

<footer class="mt-5">
  <p style="font-size: 10mm; font-weight: bold">
    Copyrights @ 2021 AAST graduation team
  </p>
</footer>

<script>
  function fetch_data() {}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
{% endblock content %}
