{% extends "quiz/base.html" %} {% block bd %} onload="fetch_quizzes() {%endblock bd %} {% block content %}

<!--********************************************  Create Quiz ********************************************-->
<!---------------------------------------------------------------------------------------------------------->
<div class="container" id="create_quiz">
  <div class="row justify-center" style="padding: 200px 50px">
    <button class="btn btn-yellow col-6" onclick="create_quiz()">
      Create Quiz
    </button>
  </div>
</div>

<!--********************************************  Create Quiz ********************************************-->
<!---------------------------------------------------------------------------------------------------------->

<!--*********************************************** Quizzes ***********************************************-->
<!---------------------------------------------------------------------------------------------------------->
<div class="container Quizzes mt-60">
  <h1 class="mb-3">Quizzes</h1>
  <hr />
  <div class="coming" style="padding: 50px">
    <h2 style="text-align: center">Coming</h2>
    <div class="mt-14 row justify-center" id="coming"></div>
  </div>

  <div class="previous">
    <h2 style="text-align: center">Previous</h2>
    <div class="mt-14 row justify-center" id="previous"></div>
  </div>
</div>

<!--*********************************************** Quizzes ***********************************************-->
<!---------------------------------------------------------------------------------------------------------->

<footer class="mt-5">
  <p style="font-size: 10mm; font-weight: bold">
    Copyrights @ 2021 AAST graduation team
  </p>
</footer>

<script>
  account_type = "Student";
  if (account_type !== "Instructor") {
    var e = document.getElementById("create_quiz");
    e.style.display = "none";
  }
  function fetch_quizzes() {
    coming = document.getElementById("coming");
    prev = document.getElementById("previous");

    var quizzes_dict = [
      {
        img_src: "media/avatar.jpg",
        title: "Sorting",
        group: "Algortihms",
        date: "25/4/2021",
        time: "5:00",
        duration: "2 hours",
        link: "/quiz",
      },
      {
        img_src: "media/avatar.jpg",
        title: "Sorting",
        group: "Algortihms",
        date: "25/4/2021",
        time: "5:00",
        duration: "2 hours",
        link: "/quiz",
      },
      {
        img_src: "media/avatar.jpg",
        title: "Sorting",
        group: "Algortihms",
        date: "25/4/2021",
        time: "5:00",
        duration: "2 hours",
        link: "/quiz",
      },
    ];

    for (q of quizzes_dict) {
      var cont = document.createElement("div");
      cont.classList.add("card", "col-md-3", "col-sm-5", "m-4");
      cont.style.padding = "0px";
      cont.innerHTML =
        '<img class="card-img-top" src="media/avatar.jpg" alt="Card image cap"> ' +
        '<div class="card-body">' +
        ' <h3 class="card-title" style="text-align: center;"><b>' +
        q.title +
        "</b></h3>" +
        "<h4><b>Quiz Group: </b>" +
        q.group +
        "</h4>" +
        "<p><b>Date: </b>" +
        q.date +
        "</p>" +
        "<p><b>Time: </b> " +
        q.time +
        " </p>" +
        "<p><b>Duration: </b> " +
        q.duration +
        " </p>" +
        '<div class="flex justify-center mt-3"><a href="' +
        q.link +
        '" class="btn btn-yellow">View Quiz</a></div>';

      var today = new Date();
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = today.getFullYear();

      today = dd + "/" + mm + "/" + yyyy;
      if (q.date < today) prev.appendChild(cont);
      else coming.appendChild(cont);
    }
  }

  function create_quiz() {
    window.location.href = "/quiz_maker";
  }
</script>

<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
{% endblock content %}
