{% extends "quiz/base.html" %} {% block bd %} onload="fill_data() {% endblock bd%} {% block content %}

<!--********************************************  Quiz info **********************************************-->
<!---------------------------------------------------------------------------------------------------------->

<div class="container">
  <div class="grid grid-cols-12 grid-rows-6 p-50 gap-12" style="font-size: 32px; text-align: center; padding: 50px">
    <p class="col-span-12 row-span-1">
      <b>Group:</b> <span id="group">Algorithms</span>
    </p>
    <p class="col-span-12 row-span-1">
      <b>Date:</b> <span id="date">23/3/2021</span>
    </p>
    <p class="col-span-12 row-span-1">
      <b>Time:</b> <span id="time">20:30</span>
    </p>
    <p class="col-span-12 row-span-1">
      <b>Duration:</b> <span id="duration">1:30</span>
    </p>
    <p class="col-span-12 row-span-1" style="color: red; display: none" id="not_yet">
      not Allowed
    </p>
    <button class="btn btn-yellow col-span-12" onclick="attemp()">
      Attemp now
    </button>
  </div>
</div>

<!--********************************************  Quiz info **********************************************-->
<!---------------------------------------------------------------------------------------------------------->

<footer class="mt-5">
  <p style="font-size: 10mm; font-weight: bold">
    Copyrights @ 2021 AAST graduation team
  </p>
</footer>

<script>



  function fill_data() {

    fetch('get_quiz/' + localStorage['quiz_id'])
      .then(function (u) { return u.json() })
      .then(function (data) {
        var e = document.getElementById("group");
        e.innerText = data.quiz_group;

        e = document.getElementById("date");
        data.quiz_date = new Date(Date.parse(data.quiz_date))
        var quiz_date = new Date();
        var dd = String(data.quiz_date.getDate()).padStart(2, "0");
        var mm = String(data.quiz_date.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = data.quiz_date.getFullYear();
        quiz_date = dd + "/" + mm + "/" + yyyy;
        e.innerText = quiz_date;

        e = document.getElementById("time");
        var quiz_time = data.quiz_date.getUTCHours() + ':' + data.quiz_date.getUTCMinutes();
        e.innerText = quiz_time;

        e = document.getElementById("duration");
        e.innerText = data.quiz_duration
      });


  }
  function attemp() {
    fetch('get_quiz/' + localStorage['quiz_id'])
      .then(function (u) { return u.json() })
      .then(function (data) {
        data.quiz_date = new Date(Date.parse(data.quiz_date))
        var now = new Date();
        // if (now >= data.quiz_date && now <= data.quiz_date + (data.duration*60) ) {
        //   window.location.href = "/attemp";
        // }
        // else {
        //   var not_yet = document.getElementById('not_yet');
        //   not_yet.style.display = 'block'
        // }

        window.location.href = "/attemp";
      });
  }

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock content %}