{% extends "quiz/base.html" %} {% block bd %} onload="fetch_members() {%endblock bd %} {% block content %}

<!--********************************************  Header ************************************************-->
<!---------------------------------------------------------------------------------------------------------->
<header style="background-image: url('media/avatar.jpg'); background-size: cover;">
  <div class="header flex justify-end flex-col" style="height: 700px; padding: 30px">
    <p class="group_title" style="color: #fff;font-size: 100px;">Algorithms</p>
    <p class="group_members_count" style="color: #fff;font-size: 70px;">3 members</p>
  </div>
</header>

<!--********************************************  Header ************************************************-->
<!---------------------------------------------------------------------------------------------------------->

<!--********************************************  Options ************************************************-->
<!---------------------------------------------------------------------------------------------------------->
<div class="container mt-16" id="admin_options">
  <div class="row justify-evenly" style="padding: 50px">
    <button class="btn btn-yellow col-12 col-md-4 m-2" onclick="create_quiz()">
      Create Quiz
    </button>
    <button class="btn btn-danger col-12 col-md-4 m-2">Leave Group</button>
  </div>
</div>
<!--********************************************  Options ************************************************-->
<!---------------------------------------------------------------------------------------------------------->

<!--********************************************  Members ************************************************-->
<!---------------------------------------------------------------------------------------------------------->
<div class="members container">
  <h1 class="my-9">Members</h1>
  <table class="table" id="members_table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
</div>
<!--********************************************  Members ************************************************-->
<!---------------------------------------------------------------------------------------------------------->

<!--********************************************  Quizzes ************************************************-->
<!---------------------------------------------------------------------------------------------------------->
<div class="container Quizzes mt-60">
  <h1 class="mb-3">Quizzes</h1>
  <hr />
  <div class="coming" style="padding: 50px">
    <h2 style="text-align: center">Coming</h2>
    <div class="mt-14 row justify-center" id="coming"></div>
  </div>

  <div class="previous">
    <h2 style="text-align: center">Previous</h2>
    <div class="mt-14 row justify-center" id="previous"></div>
  </div>
</div>

<!--********************************************  Quizzes ************************************************-->
<!---------------------------------------------------------------------------------------------------------->

<footer class="mt-5">
  <p style="font-size: 10mm; font-weight: bold">
    Copyrights @ 2021 AAST graduation team
  </p>
</footer>

<script>
  account_type = "Admin";
  function fetch_members() {

    fetch('get_group_members/2')
      .then(function (u) { return u.json(); })
      .then(function (members_dict) {
        function options(role) {
          optionss =
            '<button class="btn btn-danger m-1">Remove Member</button></div>';
          return optionss;
        }

        var tbody = document.getElementById("tbody");
        for (m of members_dict) {
          var tr = document.createElement("tr");
          tr.innerHTML =
            '<th scope="row">' +
            m.memeber_id +
            "</th>" +
            "<td>" +
            m.member_name +
            "</td>" +
            "<td>" +
            m.memeber_email +
            "</td>" +
            "<td>" +
            options(m.Role) +
            "</td>";
          tbody.appendChild(tr);
        }

        fetch_quizzes();
      });



  }

  function fetch_quizzes() {

    // var quizzes_dict = [
    //   {
    //     img_src: "media/avatar.jpg",
    //     title: "Sorting",
    //     group: "Algortihms",
    //     date: "15/2/2021",
    //     time: "8:00",
    //     duration: "2 hours",
    //     link: "#",
    //   },
    //   {
    //     img_src: "media/avatar.jpg",
    //     title: "Sorting",
    //     group: "Algortihms",
    //     date: "11/2/2021",
    //     time: "8:00",
    //     duration: "2 hours",
    //     link: "#",
    //   },
    //   {
    //     img_src: "media/avatar.jpg",
    //     title: "Sorting",
    //     group: "Algortihms",
    //     date: "11/2/2021",
    //     time: "8:00",
    //     duration: "2 hours",
    //     link: "#",
    //   },
    // ];


    fetch('get_group_quizzes/2')
      .then(function (u) { return u.json() })
      .then(function (quizzes_dict) {
        

        coming = document.getElementById("coming");
        prev = document.getElementById("previous");

        for (q of quizzes_dict) {
          q.quiz_date = new Date(Date.parse( q.quiz_date ))
          var quiz_date = new Date();
          var dd = String(q.quiz_date.getDate()).padStart(2, "0");
          var mm = String(q.quiz_date.getMonth() + 1).padStart(2, "0"); //January is 0!
          var yyyy = q.quiz_date.getFullYear();
          quiz_date = dd + "/" + mm + "/" + yyyy;

          var quiz_time = q.quiz_date.getUTCHours() + ':' + q.quiz_date.getUTCMinutes();
          

          var cont = document.createElement("div");
          cont.classList.add("card", "col-md-3", "col-sm-5", "m-4");
          cont.style.padding = "0px";
          cont.innerHTML =
            '<img class="card-img-top" src="media/avatar.jpg" alt="Card image cap"> ' +
            '<div class="card-body">' +
            ' <h3 class="card-title" style="text-align: center;"><b>' +
            q.quiz_title +
            "</b></h3>" +
            "<h4><b>Quiz Group: </b>" +
            q.quiz_group +
            "</h4>" +
            "<p><b>Date: </b>" +
            quiz_date +
            "</p>" +
            "<p><b>Time: </b> " +
            quiz_time +
            " </p>" +
            "<p><b>Duration: </b> " +
            q.quiz_duration + ' Minutes' +
            " </p>" +
            '<div class="flex justify-center mt-3"><button '+
            '" class="btn btn-yellow" onclick="view_quiz('+q.quiz_id +' )" >View Quiz</button></div>';



          var today = new Date();
          if (q.quiz_date < today) prev.appendChild(cont);
          else coming.appendChild(cont);
        }
      })
  }



  function create_quiz() {
    window.location.href = "/quiz_maker";
  }

  function view_quiz(quiz_id){
    localStorage['quiz_id'] = quiz_id
    window.location.href = "/quiz";
  }

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock content %}